:root {
  --background-color-dark: #2f303a;
  --background-color-grey: #f5f4fa;
  --background-color-white: #ffffff;
  --title-color: #212121;
  --primary-text-color: #757575;
  --secondary-text-color: #ffffff;
  --color-accent: #2196f3;
  --logo-color: #000000;
  --icon-fill: #afb1b8;
  --icon-accent: #ffffff;
  --backdrop: rgba(0, 0, 0, 0.2);
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

/* Header */
.header {
  background-color: var(--background-color-white);
  border-bottom: 1px solid #ececec;
}

.header > .container {
  display: flex;
}

.header__logo {
  padding-top: 24px;
  padding-bottom: 25px;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: var(--logo-color);
}

.logo-web {
  color: var(--color-accent);
}

.header__nav {
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  background-color: var(--background-color-white);
}

.header__nav-list {
  margin-left: 93px;
  display: flex;
  gap: 50px;
}

.header__nav-list-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--title-color);
}

.current {
  position: relative;
}

.header__nav-list-current {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--color-accent);
}

.header__nav-list-current::after {
  content: '';
  position: absolute;
  bottom: -33px;
  right: 0px;
  width: 100%;
  height: 4px;
  background-color: var(--color-accent);
  border-radius: 2px;
}

.header__contacts {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 50px;
}

.header__contacts-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--primary-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__contacts-item:hover,
.header__contacts-item:focus,
.header__nav-list-item:hover,
.header__nav-list-item:focus {
  color: var(--color-accent);
}

.email-icon,
.phone-icon {
  fill: currentColor;
}

/* Hero */

.hero {
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  background-color: var(--background-color-dark);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.hero__title {
  margin-left: auto;
  margin-right: auto;
  max-width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.button {
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border-color: transparent;
  color: var(--secondary-text-color);
  background: var(--color-accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.hero .button {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
}

/* Advantages */

.advantages {
  background-color: var(--background-color-white);
}

.advantages__list {
  display: flex;
  gap: 30px;
}

.advantages__item {
  width: 270px;
}

.advantages__icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: var(--background-color-grey);
  border-radius: 4px;
}

.advantages__title {
  margin-top: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.16;
  text-transform: uppercase;
  color: var(--title-color);
}

.advantages__paragraph {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.7;
}

/* About us */

.about-us.section {
  padding-top: 0;
}

.about-us__services-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--title-color);
}

.about-us__services-list {
  display: flex;
  gap: 30px;
  margin-top: 50px;
}

.about-us__services-item {
  position: relative;
}

.about-us__img {
  width: 100%;
  height: 100%;
}

.about-us__services-description {
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}

/* Our team */

.our-team {
  background-color: var(--background-color-grey);
}

.our-team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--title-color);
}

.our-team__list {
  display: flex;
  gap: 30px;
  margin-top: 50px;
}

.our-team__list-item {
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--background-color-white);
}

.our-team__list-item-name {
  margin-top: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--title-color);
}

.our-team__list-item-position {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.our-team__socials {
  margin-top: 16px;
  padding-left: 32px;
  padding-right: 32px;
  display: flex;
  gap: 10px;
}

.socials-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  color: var(--icon-fill);
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-container:hover,
.socials-container:focus {
  background-color: var(--color-accent);
  color: var(--icon-accent);
}

.socials-icon {
  fill: currentColor;
}

/* Our clients */

.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--title-color);
}

.clients__companies {
  margin-top: 50px;
  display: flex;
  gap: 30px;
}

.clients__companies-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-fill);
  border-radius: 4px;
  fill: var(--icon-fill);
  transition-property: fill, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__companies-item:hover,
.clients__companies-item:focus {
  fill: var(--color-accent);
  border: 1px solid var(--color-accent);
}

/* Footer */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-color-dark);
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.footer__logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__logo:hover,
.footer__logo:focus {
  color: var(--color-accent);
}

.logo-studio {
  color: var(--secondary-text-color);
}

.footer__contacts-adress {
  margin-top: 20px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  color: var(--secondary-text-color);
}

.footer__contacts-item {
  margin-top: 9px;
}

.footer__link {
  margin-top: 9px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__link:hover,
.footer__link:focus {
  color: var(--color-accent);
}

.footer__join-us {
  margin-left: 70px;
}

.footer__paragraph {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer__socials {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.footer .socials-container {
  padding: 0;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--icon-accent);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .socials-container:hover,
.footer .socials-container:focus {
  background-color: var(--color-accent);
}

.subscription {
  margin-left: 93px;
}

.subscription-label {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.subscription-title {
  display: block;
}

.subscription-container {
  margin-top: 20px;
  display: flex;
}

.subscription-input {
  padding: 15px 16px;
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: transparent;
  color: var(--secondary-text-color);
}

.subscription-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscription-btn {
  margin-left: 12px;
  padding: 10px 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background: var(--color-accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  color: var(--icon-accent);
  fill: var(--icon-accent);
}

.subscription-btn-icon {
  margin-left: 10px;
}

/* Portfolio */

.works__filter {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.works__filter-button {
  padding: 6px 22px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--title-color);
  background-color: var(--background-color-grey);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.works__filter-button:focus,
.works__filter-button:hover {
  color: var(--secondary-text-color);
  background-color: var(--color-accent);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.works__list {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.works__list-item {
  width: 370px;
  background: #ffffff;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.works__list-item:hover,
.works__list-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.works__list-item:hover .works__modal {
  transform: translateY(0);
}

.works__img-container {
  position: relative;
  overflow: hidden;
}

.works__img {
  display: block;
}

.works__modal {
  padding-left: 24px;
  padding-right: 24px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.works__description {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.works__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.works__paragraph {
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
}

/* Modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop);
  transition: opacity 250ms linear, visibility 300ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  background-color: var(--background-color-white);
  transform: translate(-50% -50%), scale(1);
  transition: transform 1000ms linear;
}

.modal-container {
  padding: 40px 40px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50% -50%), scale(0);
}

.btn-close {
  margin-top: 9px;
  margin-right: 9px;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-form {
  margin-top: 12px;
}

.label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.input {
  margin-top: 4px;
  display: block;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.user-comment {
  padding: 12px 16px;
  display: block;
  width: 100%;
  height: 120px;
  resize: none;
}

.user-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal .button {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 52px;
}
