.header {
  background-color: $background-color-white;
  border-bottom: 1px solid $header-border;
}

.header {
  .container {
    display: flex;
    height: 60px;
    @media screen and (min-width: 768px) {
      height: 80px;
    }
  }
}

.header {
  .logo-studio {
    color: $header-logo-color;
  }
}

.header__nav {
  display: flex;
  align-items: center;
  background-color: $background-color-white;
}

.header__nav-list {
  display: none;
  gap: 50px;
  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: 88px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: 92px;
  }
}

.header__nav-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $title-color;
  &:hover,
  &:focus {
    color: $color-accent;
  }
}

.header__nav-current {
  position: relative;
}

.current {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: $color-accent;
  &::after {
    content: '';
    position: absolute;
    bottom: -33px;
    right: 0px;
    width: 100%;
    height: 4px;
    background-color: $color-accent;
    border-radius: 2px;
  }
}

.header__contacts {
  display: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: $primary-text-color;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: auto;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
}

.header__contacts-email,
.header__contacts-phone {
  display: flex;
  align-items: center;
  &:hover {
    color: $color-accent;
  }
}

.header__email-icon,
.header__phone-icon {
  margin-right: 8px;
  fill: currentColor;
  @media screen and (min-width: 1200px) {
    margin-right: 10px;
  }
}

.header__menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: $menu-btn;
  background-color: transparent;
  border-color: transparent;
  border: 0;
  margin-left: auto;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
